<div class="img-fluid" class = "opacity-30"  >
    <div class=" text-white">
      <img src="https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGNvbG9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80" height="130" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
  
        <h1 class="card-title" class = "text-center"> Lockers </h1>
      </div>
    </div>
  </div>
  
  <br>
    <div class="row">
      <div class=" col-md-4 mt-1">
        <h3> &nbsp; &nbsp; <strong> Lockers Disponibles </strong> </h3>
      </div>
      </div>
  <br>

  <div class="vstack gap-4 col-md-11 mx-auto">

    <div class="card w-100 border border-black border border-2">

      
      
      <div class="row">

        <div class="col-md-5 mt-5">
          <br>
         <h1 class="text-body-secondary" class="text-center" id="cantidadLocker"> &nbsp; 98/280</h1>
         <br>
         
        </div>
      </div>
  
    </div>
    </div>

    <br>

    <h3> &nbsp; &nbsp; <strong>Reservación</strong> </h3>   
    <br>


  <div class="vstack gap-4 col-md-11 mx-auto">

    <div class="card w-100 border border-black border border-2">
      <div class="col mt-2 card-header">

        <div class="container">
          <div class="row">
    
          <div class = "mt-1"> </div>

            <div class=" col-md-2 mt-1">

              <h4>Filtrar por reservación</h4> 

            </div>
            
            <div class="col-md-4 mt-1">
    
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchFiltro">
              </div>
            </div>
            </div>
          </div>
        </div>

       

        <br>
      
      
      <table class="table-responsive">
        
        <tbody>
          

          <tr *ngFor="let al of reservaArray" (click)="openForEdit(al)" [class.active] = "al == seleReserva">
    
            <td class="text-center"> <button class="btn btn-primary"> <img src="https://drive.google.com/uc?export=view&id=1lBoZK4_lFRNr-N_k7Nw5u6Hh9PNHCiuq" style="width:5rem" alt="LockerPNG"> </button></td>
            <td class="text-center"> <button class="btn btn-primary"> <img src="https://drive.google.com/uc?export=view&id=1lBoZK4_lFRNr-N_k7Nw5u6Hh9PNHCiuq" style="width:5rem" alt="LockerPNG"> </button></td>
            <td class="text-center"> <button class="btn btn-primary"> <img src="https://drive.google.com/uc?export=view&id=1lBoZK4_lFRNr-N_k7Nw5u6Hh9PNHCiuq" style="width:5rem" alt="LockerPNG"> </button></td>
            <td class="text-center"> <button class="btn btn-primary"> <img src="https://drive.google.com/uc?export=view&id=1lBoZK4_lFRNr-N_k7Nw5u6Hh9PNHCiuq" style="width:5rem" alt="LockerPNG"> </button></td>
            <td class="text-center"> <button class="btn btn-primary"> <img src="https://drive.google.com/uc?export=view&id=1lBoZK4_lFRNr-N_k7Nw5u6Hh9PNHCiuq" style="width:5rem" alt="LockerPNG"> </button></td>
            <td class="text-center"> <button class="btn btn-primary"> <img src="https://drive.google.com/uc?export=view&id=1lBoZK4_lFRNr-N_k7Nw5u6Hh9PNHCiuq" style="width:5rem" alt="LockerPNG"> </button></td>
            <td class="text-center"> <button class="btn btn-primary"> <img src="https://drive.google.com/uc?export=view&id=1lBoZK4_lFRNr-N_k7Nw5u6Hh9PNHCiuq" style="width:5rem" alt="LockerPNG"> </button></td>
            <td class="text-center"> <button class="btn btn-primary"> <img src="https://drive.google.com/uc?export=view&id=1lBoZK4_lFRNr-N_k7Nw5u6Hh9PNHCiuq" style="width:5rem" alt="LockerPNG"> </button></td>
            <td class="text-center"> <button class="btn btn-primary"> <img src="https://drive.google.com/uc?export=view&id=1lBoZK4_lFRNr-N_k7Nw5u6Hh9PNHCiuq" style="width:5rem" alt="LockerPNG"> </button></td>
            <td class="text-center"> <button class="btn btn-primary"> <img src="https://drive.google.com/uc?export=view&id=1lBoZK4_lFRNr-N_k7Nw5u6Hh9PNHCiuq" style="width:5rem" alt="LockerPNG"> </button></td>
            
          </tr>


        </tbody>
      </table>
  
    </div>
    </div>

    

    <div class="vstack gap-4 col-md-11 mx-auto">

      <div id= "reserve" class="card w-100 border border-gray border border-2">
        <br>
    
  
          <div class="container">
            <div class="row">
      
              <div class=" col-md-10 ">
                <h4> <strong> &nbsp; Locker Seleccionado: </strong></h4> 
                <input [(ngModel)]="seleReserva.fecha" type="text" class="form-control" disabled id= "reserve"> 
    
              </div>

              <div class=" col-md-2 mt-3">
                <button id = "confirmar" class="btn" (click)="open(mymodal)"> Pagar </button>
                <ng-template #mymodal let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Confirmación</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span  aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Tu pago se ha realizado exitosamente!
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">OK</button>
                  </div>
                </ng-template>
              </div>
             
            </div>

         

            <br>
          
      </div>
    </div>

    <div class="row">
      
      <div class="col-md-5 mt-4">
        <h3> <strong>Ubicación</strong> </h3> 
        <div class = "card border border-black border border-2">
  
          <h5>Primer piso - 102</h5>
        </div>
      </div>
    
      <div class="col-md-7 mt-4">
        <h3> <strong>Reseñas</strong> </h3> 
        <div class = "card border border-black border border-2">
          <div class="row">
      
            <div class="col-md-9 mt-2">
               <h5> &nbsp; Limpieza</h5>
            </div>
      
            <div class="col-md-3 mt-2">
              <h4>★★★★☆ 4 </h4>
             
            </div>
          </div>

          <div class="row">
      
            <div class="col-md-9 mt-2">
               <h5> &nbsp; Calidad del equipo</h5>
            </div>
      
            <div class="col-md-3 mt-2">
              <h4>★★★★★ 5</h4>
             
            </div>
          </div>

          <div class="row">
      
            <div class="col-md-9 mt-2">
               <h5> &nbsp; Ambiente</h5>
            </div>
      
            <div class="col-md-3 mt-2">
              <h4>★★★☆☆ 3</h4>
             
            </div>
          </div>
          
        </div>
       
      </div>
    </div>
    

        
   


    





  


  







