
    
  
  <div class="sticky-top" > <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
  
      <a class="navbar-brand" [routerLink]="'inicio'">
        <img src="https://javier.rodriguez.org.mx/itesm/borregos/borrego-blue-small.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" >
        | Rec Sports
      </a>
  
      <ul class="nav justify-content-end">
    
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'inicio'">Inicio</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'gimnasio'">Gimnasio</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'reservas'">Reservaciones</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'calendario'">Calendario</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'anuncios'">Anuncios</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'lockers'">Lockers</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:4200/idDigital">ID digital</a>
        </li>
  
      </ul>
    </div>
  </nav>
  </div>
