<div class="sticky-top">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">

      <a class="navbar-brand" [routerLink]="'inicio'">
        <img src="https://javier.rodriguez.org.mx/itesm/borregos/borrego-blue-small.png" alt="Logo" width="30"
          height="24" class="d-inline-block align-text-top">
        | Athletics
      </a>

      <ul class="nav justify-content-end">

        <li class="nav-item" *ngIf="isAdminOrAlumno()">
          <a class="nav-link active" aria-current="page" [routerLink]="'inicio'">Inicio</a>
        </li>

        <li class="nav-item" *ngIf="isAlumno()">
          <a class="nav-link active" aria-current="page" [routerLink]="'gimnasio'">Gimnasio</a>
        </li>

        <li class="nav-item" *ngIf="isAlumno()">
          <a class="nav-link active" aria-current="page" [routerLink]="'reservas'">Reservaciones</a>
        </li>

        <li class="nav-item" *ngIf="isAlumno()">
          <a class="nav-link active" aria-current="page" [routerLink]="'calendario'">Calendario</a>
        </li>

        <li class="nav-item" *ngIf="isAlumno()">
          <a class="nav-link active" aria-current="page" [routerLink]="'anuncios'">Anuncios</a>
        </li>

        <li class="nav-item" *ngIf="isAlumno()">
          <a class="nav-link active" aria-current="page" [routerLink]="'lockers'">Lockers</a>
        </li>

        <li class="nav-item" *ngIf="isAlumno()">
          <a class="nav-link active" aria-current="page" [routerLink]="'idDigital'">ID digital</a>
        </li>


        <li class="nav-item">
          <div class="card">
            <button class="nav-link active" aria-current="page" id="btn" (click)="logout() "> Cerrar Sesión</button>
          </div>

        </li>

      </ul>
    </div>
  </nav>
</div>