@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css');
a:hover {
    text-decoration: none;
    color: #c9c5c5ab !important;
    
}

#body{
    background-color: rgb(139, 138, 138);
}

#btn {

    background: #003399;
    
    border-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
	
}
