
<!-- Remove the container if you want to extend the Footer to full width. -->
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #003399"
          >
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <br>
            <h6 class="text-uppercase fw-bold" class="text-center" > Instituto Tecnológico y de Estudios Superiores de Monterrey </h6> <br/>

            <div class="rounded-circle  shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 100px; height: 100px;">
              <img src="https://javier.rodriguez.org.mx/itesm/2014/simbolo-tec-white-small.png" height="100px px" alt=""
                   loading="lazy" />
            </div>
            
          
      
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <!--
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- 
            <br>
            <h6 class="text-uppercase fw-bold">Páginas</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white"> Inicio </a>
            </p>
            <p>
              <a href="#!" class="text-white"> Gimnasio </a>
            </p>
            <p>
              <a href="#!" class="text-white"> Reservaciones </a>
            </p>
            <p>
              <a href="#!" class="text-white"> Calendario </a>
            </p>
            <p>
              <a href="#!" class="text-white"> ID digital </a>
            </p>

          </div>
          -->
          <!-- Grid column -->

          <!-- Grid column -->
          <!--  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
           
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">Your Account</a>
            </p>
            <p>
              <a href="#!" class="text-white">Become an Affiliate</a>
            </p>
            <p>
              <a href="#!" class="text-white">Shipping Rates</a>
            </p>
            <p>
              <a href="#!" class="text-white">Help</a>
            </p>
          </div> -->

          <!-- Grid column -->

        

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <br>
            <h6 class="text-uppercase fw-bold">Contactanos</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Av. Eugenio Garza Sada 2501 Sur, Tecnológico, 64849 Monterrey, N.L.</p>
            <p><i class="fas fa-envelope mr-3"></i> TECservices@servicios.tec.mx</p>
            <p><i class="fas fa-phone mr-3"></i> 81 8358 2000 </p>
           
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<!-- End of .container -->