<!-- La idea de esto fue hacer una ventana "global" entre coach y nutriologo que sirva para que solo haga un query   -->

<!--Banner  y Nombre-->
<div class="img-fluid" class = "opacity-30"  >
    <div class=" text-white">
        <img src="https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGNvbG9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80" height="180" class="card-img" alt="...">
        <div class="card-img-overlay">
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <!--Nombre del Asesor-->
        <h1 class="card-title" class = "text-center"> Asesor </h1>
        </div>
    </div>
</div>

<!--imagen-->
<div class="rounded-circle  shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 100px; height: 100px;">
    <img [src]="this.img" (error)="updateUrl($event)"  class="rounded-circle" height="250px px" alt=""
         loading="lazy" />
</div>

<h5 class="card-title">&nbsp;</h5>
<h5 class="card-title">&nbsp;</h5>
<h5 class="card-title">&nbsp;</h5>

<h1 class = "text-center"> {{asesorInfo.nombre}}
    <br/>
    <small class="text-muted" style="font-size: 2rem;"> {{asesorInfo.rol}} </small></h1>


<!--Reservación-->
<h3 style="margin-left: 5%; margin-top: 3%; margin-bottom: 1%;"> <strong> Reservación </strong> </h3>

<div class="vstack gap-4 col-md-10 mx-auto">
  <div class="row mt-4">
    <div class="col-md-4 mb-2">
      <div class="col-md-6 input-group" style="margin-left: 2%; font-size: 1.4rem;">
        <label for="weekPicker" >Elige una semana: &nbsp;</label>
        <input type="week" id="btn" [formControl]="dateControl">
      </div>
    </div>
  </div>

  <div class="card w-100 table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-center"> Lunes</th>
          <th scope="col" class="text-center"> Martes</th>
          <th scope="col" class="text-center"> Miercoles</th>
          <th scope="col" class="text-center"> Jueves</th>
          <th scope="col" class="text-center"> Viernes</th>
          <th scope="col" class="text-center"> Sábado</th>
          <th scope="col" class="text-center"> Domingo</th>

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let al of reservaArray; let i=index;" (click)="openForEdit(al)">
          <td class="text-center"> 
            <button class="btn btn-primary" id="btn-disabled" *ngIf="!ocupado(al.hora, 0)" disabled (click)="selecDisable()">
              {{al.rangoDeHora}} 
            </button>
            <button class="btn btn-primary" id="btn" *ngIf="ocupado(al.hora, 0)" (click)="seleccionar(0, al.hora, i)">
                    {{al.rangoDeHora}} 
            </button>
          </td>
          <td class="text-center"> 
            <button class="btn btn-primary" id="btn-disabled" *ngIf="!ocupado(al.hora, 1)" disabled (click)="selecDisable()">
              {{al.rangoDeHora}} 
            </button>
            <button class="btn btn-primary" id="btn" *ngIf="ocupado(al.hora, 1)" (click)="seleccionar(1, al.hora, i)">
              {{al.rangoDeHora}} 
            </button>
          </td>
          <td class="text-center"> 
            <button class="btn btn-primary" id="btn-disabled" *ngIf="!ocupado(al.hora, 2)" disabled (click)="selecDisable()">
              {{al.rangoDeHora}} 
            </button>
            <button class="btn btn-primary" id="btn" *ngIf="ocupado(al.hora, 2)" (click)="seleccionar(2, al.hora, i)">
              {{al.rangoDeHora}} 
            </button>
          </td>
          <td class="text-center"> 
            <button class="btn btn-primary" id="btn-disabled" *ngIf="!ocupado(al.hora, 3)" disabled (click)="selecDisable()">
              {{al.rangoDeHora}} 
            </button>
            <button class="btn btn-primary" id="btn" *ngIf="ocupado(al.hora, 3)" (click)="seleccionar(3, al.hora, i)">
                    {{al.rangoDeHora}} 
            </button>
          </td>
          <td class="text-center"> 
            <button class="btn btn-primary" id="btn-disabled" *ngIf="!ocupado(al.hora, 4)" disabled (click)="selecDisable()">
              {{al.rangoDeHora}} 
            </button>
            <button class="btn btn-primary" id="btn" *ngIf="ocupado(al.hora, 4)" (click)="seleccionar(4, al.hora, i)">
              {{al.rangoDeHora}} 
            </button>
          </td>
          <td class="text-center"> 
            <button class="btn btn-primary" id="btn-disabled" *ngIf="!ocupado(al.hora, 5)" disabled (click)="selecDisable()">
              {{al.rangoDeHora}} 
            </button>
            <button class="btn btn-primary" id="btn" *ngIf="ocupado(al.hora, 5)" (click)="seleccionar(5, al.hora, i)">
              {{al.rangoDeHora}} 
            </button>
          </td>
          <td class="text-center"> 
            <button class="btn btn-primary" id="btn-disabled" *ngIf="!ocupado(al.hora, 6)" disabled (click)="selecDisable()">
              {{al.rangoDeHora}} 
            </button>
            <button class="btn btn-primary" id="btn" *ngIf="ocupado(al.hora, 6)" (click)="seleccionar(6, al.hora, i)">
              {{al.rangoDeHora}} 
            </button>
          </td>
      
        </tr>
      </tbody>
    </table>
  </div>
 </div>
 <!-- Resumen de reservación-->
      
<div class="vstack gap-4 col-md-10 mx-auto mt-2">
      
  <div id="reserve" class="card w-100 border border-light border border-2">
    <br>  
    <div class="container">
      <div class="row">
        <div class=" col-md-10 ">
          <h4> <strong> &nbsp; Horario Seleccionado: </strong></h4>
          <input type="text" class="form-control" disabled id="reserve" [value]="horarioSeleccionadoInput">
        </div>
      
        <div class=" col-md-2 mt-3">
          <button id="btn2" style = "font-size: 1.4rem;" class="btn" (click)="open(mymodal)" *ngIf="activateButton" (click)="reservar()"> 
            Reservar 
          </button>

          <button class="btn" id="btn-disabled" style="font-size: 1.4rem;" *ngIf="!activateButton" disabled>
                  Reservar
          </button>
        </div>
      
      </div>
      <br>
   </div>
</div>
    
<!--Ubicación y Reseña-->
<div class="row">
    <div class="col-md-12 mt-4">
        <h3> <strong>Especialidad</strong> </h3> 
        <div class = "card border border-gr border border-2">
        <h5 style="margin-left: 1%; margin-top:1%;"> {{asesorInfo.especialidad}} </h5>
        </div>
    </div>

</div>


<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmación</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="reload()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    Tu reservación ha sido exitosa!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')" (click)="reload()">OK</button>
  </div>
</ng-template>