@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css');

.card-banner{
    height: 200px;
}

.lugar-disp{
    margin: 2cm;
    display: flex;
    list-style:none;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

li{
    font-weight: bolder;
    font-size:larger;
}

.body-container{
    border-color:#003399;
    border:solid;
}

#circulo {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background: green;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#reserve {
	
	background: #003399;
    color: white;
    border-color: transparent;
    
	
}

#confirmar {
	
	background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
}

#badge{
    font-size: 1.3rem;
}

#circulo > p {
	font-family: sans-serif;
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

button:hover {
    text-decoration: none;
    color: #777777 !important;
    
}