<!-- La idea de esto fue hacer una ventana "global" entre coach y nutriologo que sirva para que solo haga un query   -->

<!--Banner  y Nombre-->
<div class="img-fluid" class = "opacity-30"  >
    <div class=" text-white">
        <img src="https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGNvbG9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80" height="180" class="card-img" alt="...">
        <div class="card-img-overlay">
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <!--Nombre del Asesor-->
        <h1 class="card-title" class = "text-center"> Asesor </h1>
        </div>
    </div>
</div>

<!--imagen-->
<div class="rounded-circle  shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 100px; height: 100px;">
    <img src="https://live.staticflickr.com/65535/50630706993_00b8c57751_w.jpg"  class="rounded-circle" height="250px px" alt=""
         loading="lazy" />
</div>

<h5 class="card-title">&nbsp;</h5>
<h5 class="card-title">&nbsp;</h5>
<h5 class="card-title">&nbsp;</h5>

<h1 class = "text-center"> Arnold S.
    <br/>
    <small class="text-muted" style="font-size: 2rem;"> Entrenador </small></h1>


<!--Reservación-->
<h3> &nbsp; &nbsp; <strong>Reservación</strong> </h3>     

<br>
<div class="vstack gap-4 col-md-11 mx-auto">

    <div class="card w-100 border border-gray border border-2">
        <div class="col mt-2 ">

        <div class="container">
            <div class="row">
            
            <div class="col-md-4 mt-1">

                <div ngbDropdown>
                <button class="btn btn-primary" id="reserve" 
                        ngbDropdownToggle>Semana 20 - 26 de Marzo 2023</button>
                <div ngbDropdownMenu="gfg">
                    <button ngbDropdownItem>Semana 20 - 26 de Marzo 2023</button>
                    <button ngbDropdownItem>Semana 20 - 26 de Marzo 2023</button>
                    <button ngbDropdownItem>Semana 20 - 26 de Marzo 2023</button>
                </div>
                </div>
            </div>
            </div>
            </div>
        </div>

        

        <br>
        
        <!--Tabla-->
        <table class="table">
            <thead>
                <tr>
                <th scope="col" class="text-center"> Lunes</th>
                <th scope="col" class="text-center"> Martes</th>
                <th scope="col" class="text-center"> Miercoles</th>
                <th scope="col" class="text-center"> Jueves</th>
                <th scope="col" class="text-center"> Viernes</th>
                <th scope="col" class="text-center"> Sábado</th>
                <th scope="col" class="text-center"> Domingo</th>
                
                </tr>
            </thead>
            <tbody>
                <tr>
                <td class="text-center"> <button class="btn btn-primary" id="reserve" > 6:00 - 8:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 6:00 - 8:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 6:00 - 8:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 6:00 - 8:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 6:00 - 8:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" disabled id="reserve"> 6:00 - 8:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" disabled id="reserve"> 6:00 - 8:00</button></td>
                </tr>
                <tr>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 9:00 - 11:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 9:00 - 11:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 9:00 - 11:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 9:00 - 11:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 9:00 - 11:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 9:00 - 11:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 9:00 - 11:00</button></td>
                </tr>
                <tr>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 11:00 - 1:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 11:00 - 1:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 11:00 - 1:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 11:00 - 1:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 11:00 - 1:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve">  11:00 - 1:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 11:00 - 1:00</button></td>
                </tr>
                <tr>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 1:00 - 3:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 1:00 - 3:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 1:00 - 3:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 1:00 - 3:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 1:00 - 3:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 1:00 - 3:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 1:00 - 3:00</button></td>
                </tr>
                <tr>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 3:00 - 5:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 3:00 - 5:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 3:00 - 5:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 3:00 - 5:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 3:00 - 5:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 3:00 - 5:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 3:00 - 5:00</button></td>
                </tr>
                <tr>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 3:00 - 5:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 3:00 - 5:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 3:00 - 5:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 3:00 - 5:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 3:00 - 5:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 3:00 - 5:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 3:00 - 5:00</button></td>
                </tr>

                <tr>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 5:00 - 7:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 5:00 - 7:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 5:00 - 7:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 5:00 - 7:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 5:00 - 7:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 5:00 - 7:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 5:00 - 7:00</button></td>
                </tr>

                <tr>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 7:00 - 9:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 7:00 - 9:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 7:00 - 9:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 7:00 - 9:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 7:00 - 9:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 7:00 - 9:00</button></td>
                <td class="text-center"> <button class="btn btn-primary" id="reserve"> 7:00 - 9:00</button></td>
                </tr>

            </tbody>
        </table>

    </div>
</div>

<br>

<!--Reserva seleccionada-->
<div class="vstack gap-4 col-md-11 mx-auto">

    <div id= "reserve" class="card w-100 border border-gray border border-2">
        <br>
    
    
        <div class="container">
            <div class="row">
    
            <div class=" col-md-10 mt-1">
    
                <h4> <strong>Horario Seleccionado: </strong></h4> 
                <span id="badge"> Lunes 20 de Marzo 1:00 - 2:00 PM</span>  
    
            </div>
            <div class=" col-md-2 mt-3">
    
                <button id = "confirmar" class="btn"> Reservar </button>
            </div>
            </div>
    
            <br>
        
        </div>
    </div>

<!--Ubicació y Reseña-->
<div class="row">
    <div class="col-md-5 mt-4">
        <h3> <strong>Ubicación</strong> </h3> 
        <div class = "card border border-black border border-2">

        <h5> Acondicionamiento Fisico </h5>
        </div>
    </div>

    <div class="col-md-7 mt-4">
        <h3> <strong>Reseñas</strong> </h3> 
        <div class = "card border border-black border border-2">
        <div class="row">

            <div class="col-md-10 mt-2">
                <h5> &nbsp; Atención </h5>
            </div>

            <div class="col-md-2 mt-2">
            ★★★★☆ 4
            
            </div>
        </div>

        <div class="row">

            <div class="col-md-10 mt-2">
                <h5> &nbsp; Actitud </h5>
            </div>

            <div class="col-md-2 mt-2">
            ★★★★★ 5
            
            </div>
        </div>

        <div class="row">

            <div class="col-md-10 mt-2">
                <h5> &nbsp; Planeación </h5>
            </div>

            <div class="col-md-2 mt-2">
            ★★★☆☆ 3
            
            </div>
        </div>
        
        </div>
        
    </div>
</div>