<!-- Encabezado del área deportiva -->
<div class="img-fluid" class="opacity-30">
  <div class="text-white img-banner">
    <img src="../assets/img/gym.jpeg" height="250" class="card-img" style="opacity: 0.5;">
    <div class="card-img-overlay">
      <div class="card-img-overlay">
        <h2 class="card-title text-center" style="margin-left: 2.3%; margin-top:10%; font-size: 3rem;" id="prueba"> <i>
            {{ getFormattedNombreArea() }} </i></h2>
      </div>
    </div>
  </div>
</div>

<h3 style="margin-left: 4%; margin-top: 2%; margin-bottom: 2%;"> <strong> Información  de la sala de {{ getFormattedNombreArea() }}  </strong> </h3>

<!-- Tarjeta de información del área deportiva -->
<div class="container">
  <div class="card p-4" style="border-width: 0.1rem;">
    <div class="row">

      <!-- Gráfica con el numero de espacios disponibles y ocupados-->
      <div class="col-md-6 col-lg-4">
        <h2 class="text-center"> <strong> Porcenta de ocupación </strong></h2>
        <div class="chart-container">
          <canvas id="MyChart">{{ chart }}</canvas>
        </div>
      </div>

      <!-- Numero de espacios disponibles y ocupados-->
      <div class="col-md-6 col-lg-4">
        <h2 class="text-center"> <strong>Lugares disponibles </strong></h2>
        <div class="text-center" style="margin-top: 13%;">
          <h2>{{ aforoData }}</h2>
        </div>
      </div>

      <!-- Materiales disponibles en el area deportiva-->

      <div class="col-md-12 col-lg-4">
        <h2 class="text-center"> <strong>Materiales disponibles</strong> </h2>
        <div class="text-center">
          <ul class="materiales-list" style="margin-top: 5%;">
            <li *ngFor="let material of areaActual.MaterialDisponible.split(',')">- {{ material.trim() }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Calendario de reservación-->

<h3 style="margin-left: 4%; margin-top: 3%; margin-bottom: 2%;"> <strong> Reservación </strong> </h3>

<div class="vstack gap-4 col-md-10 mx-auto">

  <div class="card w-100 ">

     <!-- Encabezado de la tabla de reservación-->

    <div class="col card-header">
      <div class="row">

        <!-- Estado del area deportiva-->
        <div style="margin-top: 0.8rem; margin-left: 0.8rem;" id="circulo"> </div>
        <div class=" col-md-2 mt-3">
          <h4>Estado: <small class="text-success">Abierto</small></h4>
        </div>

        <!-- Elección en la semana en la que desea hacer la reservación-->
        <div class="col-md-4 mt-1">
          <div class="col-md-5 " style="margin-left: 2%;">
            <label for="weekPicker">Elige una semana:</label>
            <input type="week" id="btn" [formControl]="dateControl">
          </div>
        </div>
      </div>
    </div>

    <br>

    <!--Cuerpo de la tabla con la información de los horarios disponibles para reservar-->

    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-center"> Lunes</th>
          <th scope="col" class="text-center"> Martes</th>
          <th scope="col" class="text-center"> Miercoles</th>
          <th scope="col" class="text-center"> Jueves</th>
          <th scope="col" class="text-center"> Viernes</th>
          <th scope="col" class="text-center"> Sábado</th>
          <th scope="col" class="text-center"> Domingo</th>

        </tr>
      </thead>
      <tbody>


        <tr *ngFor="let al of reservaArray; let i= index;" (click)="openForEdit(al)" [class.active]="al == seleReserva">

          <td class="text-center">
            <button *ngIf="ocupado(0, al.hora)" (click)="imprimirFechaCorrecta(i, 0)" class="btn btn-primary" id="btn">
              {{al.rangoDeHora}} </button>
            <button *ngIf="!ocupado(0, al.hora)" class="btn btn-primary" id="btn" disabled> {{al.rangoDeHora}} </button>
          </td>
          <td class="text-center">
            <button *ngIf="ocupado(1, al.hora)" (click)="imprimirFechaCorrecta(i, 1)" class="btn btn-primary" id="btn">
              {{al.rangoDeHora}} </button>
            <button *ngIf="!ocupado(1, al.hora)" class="btn btn-primary" id="btn" disabled> {{al.rangoDeHora}} </button>
          </td>
          <td class="text-center">
            <button *ngIf="ocupado(2, al.hora)" (click)="imprimirFechaCorrecta(i, 2)" class="btn btn-primary" id="btn">
              {{al.rangoDeHora}} </button>
            <button *ngIf="!ocupado(2, al.hora)" class="btn btn-primary" id="btn" disabled> {{al.rangoDeHora}} </button>
          </td>
          <td class="text-center">
            <button *ngIf="ocupado(3, al.hora)" (click)="imprimirFechaCorrecta(i, 3)" class="btn btn-primary" id="btn">
              {{al.rangoDeHora}} </button>
            <button *ngIf="!ocupado(3, al.hora)" class="btn btn-primary" id="btn" disabled> {{al.rangoDeHora}} </button>
          </td>
          <td class="text-center">
            <button *ngIf="ocupado(4, al.hora)" (click)="imprimirFechaCorrecta(i, 4)" class="btn btn-primary" id="btn">
              {{al.rangoDeHora}} </button>
            <button *ngIf="!ocupado(4, al.hora)" class="btn btn-primary" id="btn" disabled> {{al.rangoDeHora}} </button>
          </td>
          <td class="text-center">
            <button *ngIf="ocupado(5, al.hora)" (click)="imprimirFechaCorrecta(i, 5)" class="btn btn-primary" id="btn">
              {{al.rangoDeHora}} </button>
            <button *ngIf="!ocupado(5, al.hora)" class="btn btn-primary" id="btn" disabled> {{al.rangoDeHora}} </button>
          </td>
          <td class="text-center">
            <button *ngIf="ocupado(6, al.hora)" (click)="imprimirFechaCorrecta(i, 6)" class="btn btn-primary" id="btn">
              {{al.rangoDeHora}} </button>
            <button *ngIf="!ocupado(6, al.hora)" class="btn btn-primary" id="btn" disabled> {{al.rangoDeHora}} </button>
          </td>

        </tr>


      </tbody>
    </table>

  </div>
</div>






<div class="vstack gap-4 col-md-10 mx-auto mt-2">

  <div id="reserve" class="card w-100 border border-light border border-2">
    <br>


    <div class="container">
      <div class="row">

        <div class=" col-md-10 ">
          <h4> <strong> &nbsp; Horario Seleccionado: </strong></h4>
          <input [(ngModel)]="seleReserva.fecha" type="text" class="form-control" disabled id="reserve">

        </div>

        <div class=" col-md-2 mt-3">
          <button *ngIf="horaSeleccionada!==undefined && diaSeleccionado!==undefined" id="confirmar" class="btn"
            (click)="open(mymodal)" (click)="crearReserva()"> Reservar </button>
          <ng-template #mymodal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Confirmación</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"
                (click)="reload()">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              Tu reservación ha sido exitosa!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="modal.close('Save click')"
                (click)="reload()">OK</button>
            </div>
          </ng-template>
          <button *ngIf="horaSeleccionada===undefined || diaSeleccionado===undefined" id="confirmar" class="btn"
            disabled> Reservar </button>
        </div>
      </div>

      <br>

    </div>
  </div>



  <div class="row">
     <!-- Tarjeta con la información de la ubicación del area deportiva-->
    <div class="col-md-5 mt-4">
      <h3> <strong>Ubicación</strong> </h3>
      <div class="card border border-grey border border-1">
        <h5 style="margin-left: 1%; margin-top:1%;">{{areaActual.Ubicacion}}</h5>
      </div>
    </div>

    <!-- Tarjeta con la información de las reseñas del area deportiva-->

    <div class="col-md-7 mt-4">
      <h3> <strong>Reseñas</strong> </h3>
      <div class="card border border-grey border border-1">
        <div class="row">

          <div class="col-md-9 mt-2">
            <h5> &nbsp; Limpieza</h5>
          </div>

          <div class="col-md-3 mt-2">
            <h4>★★★★☆ 4 </h4>
          </div>
        </div>

        <div class="row">

          <div class="col-md-9 mt-2">
            <h5> &nbsp; Calidad del equipo</h5>
          </div>

          <div class="col-md-3 mt-2">
            <h4>★★★★★ 5</h4>
          </div>
        </div>

        <div class="row">

          <div class="col-md-9 mt-2">
            <h5> &nbsp; Ambiente</h5>
          </div>
          <div class="col-md-3 mt-2">
            <h4>★★★☆☆ 3</h4>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>