<div class="img-fluid" class="opacity-30">
  <div class="text-white img-banner2">
    <img src="../assets/img/gym.jpeg" height="250" class="card-img" style="opacity: 0.5;">
    <div class="card-img-overlay">
      <h2 class="card-title text-center" style="margin-left: 2.3%; margin-top:10%; font-size: 3rem;" id="prueba"> <i> Gimnasio</i></h2>
    </div>
  </div>
</div>

<h3 style="margin-left: 4%; margin-top: 2%; margin-bottom: 2%;"> <strong>Aforo en tiempo real </strong> </h3>



<div class="vstack gap-4 col-md-9 mx-auto">

  <div class="card w-100 ">
    <h3 class="card-header">{{this.changedDate}}</h3>


    <div class="row">

      <div class="col-md-6 mt-4">
        <div class="chart-container">
          <canvas id="MyChart">{{ chart }}</canvas>
          <br>
        </div>
      </div>

      <div class="col-md-4" style="margin-top: 5%;">

        <h1 style="margin-left: 12%;"> Aforo actual </h1>
        <h1 class="text-body-secondary" style="margin-left: 18%;" id="aforo_data">{{aforoData}}</h1>

        <form style=" margin-top: 6%;" (ngSubmit)="marcarLlegadaOSalida()">
          <a href="http://localhost:4200/tendencias" class="btn btn-primary text-center" id="btn"
            style="font-size: 1.3rem;">Estadísticas </a>
          <button type="submit" class="btn btn-primary text-center" id="marcarLlegada" style="font-size: 1.3rem; margin-left: 0.7%;" *ngIf="!alumnoStatus" (click)="aumentarAforo()">Marcar llegada
          </button>
          <button type="submit" class="btn btn-warning text-center" id="marcarSalida" style="font-size: 1.3rem; margin-left: 0.7%;" *ngIf="alumnoStatus" (click)="disminuirAforo()">Marcar salida
          </button>
        </form>
      

      </div>

    </div>

  </div>
</div>






<h3 style="margin-left: 4%; margin-top: 3%; margin-bottom: 2%;"> <strong> Reservación </strong> </h3>



<div class="vstack gap-4 col-md-9 mx-auto">

  <div class="card w-100 ">


    <div class="col card-header">

     
        <div class="row">

          <div class="mt-1" id="circulo"> </div>

          <div class=" col-md-2 mt-1">

            <h4>Estado: <small class="text-success">Abierto</small></h4>

          </div>

          <div class="col-md-4 mt-1">
            <div class="col-md-3 mt-3" style="margin-left: 2%;">
              <label for="weekPicker">Elige la semana:</label>
              <input type="week" id="weekPicker" [formControl]="dateControl">
            </div>
          </div>
        </div>
   
    </div>
    
    <br>

    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-center"> Lunes</th>
          <th scope="col" class="text-center"> Martes</th>
          <th scope="col" class="text-center"> Miercoles</th>
          <th scope="col" class="text-center"> Jueves</th>
          <th scope="col" class="text-center"> Viernes</th>
          <th scope="col" class="text-center"> Sábado</th>
          <th scope="col" class="text-center"> Domingo</th>

        </tr>
      </thead>
      <tbody>


        <tr *ngFor="let al of reservaArray; let i= index;" (click)="openForEdit(al)" [class.active]="al == seleReserva">

          <td class="text-center"> 
            <button *ngIf="ocupado(0, al.hora)" (click)="imprimirFechaCorrecta(i, 0)" class="btn btn-primary" id="btn"> {{al.rangoDeHora}} </button>
            <button *ngIf="!ocupado(0, al.hora)" class="btn btn-primary" id="btn-disabled" disabled> {{al.rangoDeHora}} </button>
          </td>
          <td class="text-center"> 
            <button *ngIf="ocupado(1, al.hora)" (click)="imprimirFechaCorrecta(i, 1)" class="btn btn-primary" id="btn"> {{al.rangoDeHora}} </button>
            <button *ngIf="!ocupado(1, al.hora)" class="btn btn-primary" id="btn-disabled" disabled> {{al.rangoDeHora}} </button>
          </td>
          <td class="text-center"> 
            <button *ngIf="ocupado(2, al.hora)" (click)="imprimirFechaCorrecta(i, 2)" class="btn btn-primary" id="btn"> {{al.rangoDeHora}} </button>
            <button *ngIf="!ocupado(2, al.hora)" class="btn btn-primary" id="btn-disabled" disabled> {{al.rangoDeHora}} </button>
          </td>
          <td class="text-center"> 
            <button *ngIf="ocupado(3, al.hora)" (click)="imprimirFechaCorrecta(i, 3)" class="btn btn-primary" id="btn"> {{al.rangoDeHora}} </button>
            <button *ngIf="!ocupado(3, al.hora)" class="btn btn-primary" id="btn-disabled" disabled> {{al.rangoDeHora}} </button>
          </td>
          <td class="text-center"> 
            <button *ngIf="ocupado(4, al.hora)" (click)="imprimirFechaCorrecta(i, 4)" class="btn btn-primary" id="btn"> {{al.rangoDeHora}} </button>
            <button *ngIf="!ocupado(4, al.hora)" class="btn btn-primary" id="btn-disabled" disabled> {{al.rangoDeHora}} </button>
          </td>
          <td class="text-center"> 
            <button *ngIf="ocupado(5, al.hora)" (click)="imprimirFechaCorrecta(i, 5)" class="btn btn-primary" id="btn"> {{al.rangoDeHora}} </button>
            <button *ngIf="!ocupado(5, al.hora)" class="btn btn-primary" id="btn-disabled" disabled> {{al.rangoDeHora}} </button>
          </td>
          <td class="text-center"> 
            <button *ngIf="ocupado(6, al.hora)" (click)="imprimirFechaCorrecta(i, 6)" class="btn btn-primary" id="btn"> {{al.rangoDeHora}} </button>
            <button *ngIf="!ocupado(6, al.hora)" class="btn btn-primary" id="btn-disabled" disabled> {{al.rangoDeHora}} </button>
          </td>

        </tr>


      </tbody>
    </table>

  </div>
</div>






<div class="vstack gap-4 col-md-9 mx-auto mt-2">

  <div id="reserve" class="card w-100 border border-light border border-2">
    <br>


    <div class="container">
      <div class="row">

        <div class=" col-md-10 ">
          <h4> <strong> &nbsp; Horario Seleccionado: </strong></h4>
          <input [(ngModel)]="seleReserva.fecha" type="text" class="form-control" disabled id="reserve">

        </div>

        <div class=" col-md-2 mt-3">
          <button *ngIf="horaSeleccionada!==undefined && diaSeleccionado!==undefined" id="confirmar" class="btn" (click)="open(mymodal)" (click)="crearReserva()"> Reservar </button>
          <ng-template #mymodal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Confirmación</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="reload()">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              Tu reservación ha sido exitosa!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="modal.close('Save click')" (click)="reload()">OK</button>
            </div>
          </ng-template>
          <button *ngIf="horaSeleccionada===undefined || diaSeleccionado===undefined" id="confirmar" class="btn" disabled> Reservar </button>
        </div>
      </div>



      <br>

    </div>
  </div>

  <div class="row">

    <div class="col-md-5 mt-4">
      <h3> <strong>Ubicación</strong> </h3>
      <div class="card border border-black border border-1">

        <h5 style="margin-left: 1%; margin-top:1%;">Primer piso - 102</h5>
      </div>
    </div>

    <div class="col-md-7 mt-4">
      <h3> <strong>Reseñas</strong> </h3>
      <div class="card border border-black border border-1">
        <button style = "font-size: 1rem; margin-bottom: 1%;" id="btn3" class="btn" (click)="abrir(resenamodal)"> Calificar </button>

        <div class="row">

          <div class="col-md-9 mt-2">
            <h5> &nbsp; Limpieza</h5>
          </div>

          <div class="col-md-3 mt-2">
            <h4>★★★★☆ 4 </h4>

          </div>
        </div>

        <div class="row">

          <div class="col-md-9 mt-2">
            <h5> &nbsp; Calidad del equipo</h5>
          </div>

          <div class="col-md-3 mt-2">
            <h4>★★★★★ 5</h4>

          </div>
        </div>

        <div class="row">

          <div class="col-md-9 mt-2">
            <h5> &nbsp; Ambiente</h5>
          </div>
          <div class="col-md-3 mt-2">
            <h4>★★★☆☆ 3</h4>

          </div>
        </div>

      </div>

    </div>
  
    <ng-template #resenamodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-resena">Reseñas</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        La calificación es de 1 a 5 (de peor a mejor).
        <br/>
        <strong>Limpieza</strong>
        <br/>

        <select name="ReviewLimpieza" id="ReviewLimpieza" #limpieza>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>

        <br/>
        <strong>Calidad del equipo</strong>
        <br/>
        <select name="ReviewCalidad" id="ReviewCalidad" #calidad>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>

        <br/>
        <strong>Ambiente</strong>
        <br/>
        <select name="ReviewAmbiente" id="ReviewAmbiente" #Ambiente>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>

        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')" (click)="confirmarReview(limpieza.value, calidad.value, Ambiente.value)">OK</button>
      </div>
    </ng-template>

  </div>
</div>