<div class="banner">
<br>
<div class="img-fluid">
    <img src="https://cdn-3.expansion.mx/6e/5f/8656ed584447b935426e507f9b35/dsc0353.JPG" height="250" class="card-img" alt="...">
</div>

<br>
</div>
<h2 style="font-weight:bolder"> Equipos Disponibles </h2>
<div class="disp">
    <ul class="lugar-disp">
        <!-- Crear un Modulo global de espacios disponbiles de la base de datos y tomar de cada área-->
        <li>PC Gamer <br>  98/100 </li>
        <li>Nintendo Ness <br>  98/100</li>
        <li>Nintendo Switch <br>  98/100</li>
    </ul>
</div>

<div>
    <h3>Reservacion</h3>
    <!-- Filtrar por disponibilidad: Boton-->
    <div class="boton-filtro">
        <h4>Filtrar por disponibilidad: </h4>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
        </div>
    </div>
    <!-- Calendario por semana-->
    <div class="body-container">
        <div class="stack-semanal">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Semana: 20 - 26 Marzo 2023
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Semana: 27 - 2 Abril 2023</a></li>
                    <li><a class="dropdown-item" href="#">Semana: 2 - 9 Abril 2023</a></li>
                    <li><a class="dropdown-item" href="#">Semana: 9 - 15 Abril 2023</a></li>
                    <li><a class="dropdown-item" href="#">Semana: 2 - 9 Abril 2023</a></li>
                </ul>
            </div>
        </div>
        <!--Calendario-->
        
    </div>


    
    <!-- Ubicación-->
    <!--  Modulo -->
    <h4>Ubicación:</h4>
    <div class="body-container">
        <div class="ubicacion">
            <p> Ubicación en piso 1</p>
        </div>
    </div>

    <!-- Reseñas-->
    <!--  Modulo -->
    <h4>Reseñas:</h4>
    <div class="body-container">
        <!--Que reseña sea un componente-->
        <div class="reseña">
            <ul>
                <li>Limpieza</li>
                <li>Calidad del equipo</li>
                <li>Ambiente</li>
            </ul>
        </div>
    </div>

    <!--Boton
    Stack
    Tabla
    Ubicación
    Reseñas
    -->
</div>