<!--Encabezado de la pantalla de anuncios-->

<div class="row">
    <div class=" col-md-6 mt-4" style="margin-left: 1%;">
      <h3> <strong> Anuncios </strong> </h3>
    </div>
  </div>
<br>

<!--Tarjetas con la información de los anuncios -->

<div class="vstack gap-3 col-md-11 mx-auto">

  <div *ngFor="let anuncio of anuncios">
    <div class="card" id="card" *ngIf="validarAparicion(anuncio.duracion_inicio)">
      <div class = "row">
        <!-- Imagen del anuncio -->

        <div class=" col-md-2 ">
          <img src={{anuncio.imagen}} (error)="updateUrl($event)" width="100%" height="100%" class="card-img" alt="...">
        </div>

         <!-- titulo del anuncio -->

        <div  class="col-md-2 mt-2" id="align">
          <div class="card" style="border-color: transparent;" >
              <div class="card-body"> 
                <strong> <p style="color: #003399; font-size: 1.3rem; text-align: center;"> {{anuncio.titulo}} </p> </strong>
              </div>
          </div>
        </div>

         <!-- fecha del anuncio -->
       <div  class="col-md-3" id="align" >              
          <div class="card" style="border-color: transparent;" >
            <div class="card-body">
              <strong style="color: #003399; font-size: 1.3rem;">Fecha:&nbsp; </strong> 
              <p style=" font-size: 1.3rem;"> {{this.cambiarFormato(anuncio.fecha_inicio_evento)}} al {{this.cambiarFormato(anuncio.fecha_fin_evento)}}</p>
            </div>
          </div>
       </div>

      <!-- ubicación del anuncio -->
      <div  class="col-md-2 " id="align">
        <div class="card" style="border-color: transparent;" >
          <div class="card-body">
            <strong style="color: #003399; font-size: 1.3rem;">Ubicación:&nbsp; </strong> 
            <p style=" font-size: 1.3rem;"> {{anuncio.ubicacion}} </p>
         </div>
        </div>
      </div>

      <!-- Descripción del anuncio -->
      <div  class="col-md-3 " id="align">
        <div class="card" style="border-color: transparent;" >
          <div class="card-body">
            <strong style="color: #003399; font-size: 1.3rem;">Descripción:&nbsp; </strong> 
            <p style=" font-size: 1.3rem; text-align: justify;">{{anuncio.descripcion}}</p>
          </div>
        </div>
      </div>
      
     </div>
   </div>
 </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>