<div class="row">
    <h4><strong>Comprobante de Pago</strong></h4>

    <div class="card border border-black border border-2">
      <div class="col-8">
        <label class="btn btn-default p-0">
          <input type="file" style="display: none"  accept="image/*" (change)="selectFile($event)" #hiddenfileinput/>
          <button class="btn btn-success btn-sm" (click)="hiddenfileinput.click()"  id="chooseFile">Seleccionar Imágen</button>
        </label>
      </div>
    
      

      <div class="col-4">
        <button
          class="btn btn-success btn-sm float-right"
          [disabled]="!selectedFiles"
          (click)="upload()"
          id="SubirPago"
        >
          Subir Imágen
        </button>

        <div>
          <img [src]="preview" class="preview" />
        </div>
      <br>
      </div>
    </div>
    
    
    <div *ngIf="currentFile && progress" class="progress my-3">
      <div
        class="progress-bar progress-bar-info"
        role="progressbar"
        attr.aria-valuenow="{{ progress }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: progress + '%' }"
      >
        {{ progress }}%
      </div>
    </div>
    
    <div *ngIf="message" class="alert alert-secondary" role="alert">
      {{ message }}
    </div>
    
  
  </div>
