<!--Header incluido-->
<!--Banner de la aréa-->
<div class="img-fluid" class = "opacity-30"  >
    <div class=" text-white">
        <img src="https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGNvbG9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80" height="130" class="card-img" alt="...">
        <!-- <div class="img-banner">
            <img src="../assets/img/Crossfit-banner.jpg" height="130" class="card-img" alt="..." style="opacity: 0.3;">
        </div> -->
            <div class="card-img-overlay">
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>

        <!-- <h1 class="card-title" class = "text-center" style="-webkit-text-stroke: 1px black;"> CrossFit </h1> -->
        <h1 class="card-title" class = "text-center"> Encuensta de satisfacción </h1>

        </div>
    </div>
</div>

<!-- Body -->

<h3> &nbsp; &nbsp; <strong>Encuestas</strong> </h3> 

<div class="body-container">

    <h3> &nbsp; &nbsp; <strong>Encuestas</strong> </h3> 

</div>