@media (max-width: 768px) {
  .fc-event-title {
    font-size: 0.8em;
  }
  .fc .fc-col-header-cell-cushion {
    font-size: 0.8em;
    white-space: nowrap;
  }
  .fc .fc-daygrid-day-frame {
    font-size: 0.8em;
  }
}

@media (min-width: 769px) {
  .fc .fc-col-header-cell-cushion {
    font-size: 1em;
  }
  .fc .fc-daygrid-day-frame {
    font-size: 1em;
  }
  .fc .fc-event-title {
    font-size: 1em;
  }
}

full-calendar {
  padding-left: 1rem;
  padding-right: 1rem;
}
/*Clases para permitir hacer scroll down*/

.table-wrapper {
	width: 100%;
	height: 70%; 
	overflow: auto;
  }
  
  .table-wrapper table {
	border-collapse: separate;
	border-spacing: 0;
  }
  
  .table-wrapper table thead {
	position: -webkit-sticky; /* Safari... */
	position: sticky;
	top: 0;
	left: 0;
    
  }
  
  .table-wrapper table thead th,
  .table-wrapper table tbody td {
	background-color: #FFF;
  }