<!--Banner-->

<div class="img-fluid" class = "opacity-30"  >
  <div class=" text-white">
    <img src="https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGNvbG9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80" height="130" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">&nbsp;</h5>
      <h5 class="card-title">&nbsp;</h5>
      <h5 class="card-title">&nbsp;</h5>
      <h5 class="card-title">&nbsp;</h5>

      <h1 class="card-title" class = "text-center"> Estadisticas del Gimnasio </h1>
    </div>
  </div>
</div>


<!--Grafica de barras-->


<div class="card mt-4" style="width:70%; margin-left: 15%;">
  <h4 class="card-header text-center">Aforo por semana</h4>

  <div class="col-md-3 mt-3" style="margin-left: 2%;">
    <label for="weekPicker">Elige la semana:</label>
    <input type="week" id="weekPicker" [formControl]="dateControl">
  </div>

  <div class="row">
    <div class="col-md-1 mt-4"></div>
    <div class="col-md-10 mt-5">
        <div class="chart-container">
            <canvas id="Dia">{{ chart }}</canvas>
            <br>
          </div>
    </div>
  </div>
</div>


<!--Grafica de lineas-->


<div class="card mt-4" style="width:70%; margin-left: 15%;">
  <h4 class="card-header text-center">Ingresos por hora</h4>

  <div class="col-md-3 mt-3" style="margin-left: 2%;">
    <!--Crear un selector de dias aqui-->
  </div>

  <div class="row">
    <div class="col-md-1 mt-4"></div>
    <div class="col-md-10 mt-5">
        <div class="chart-container">
            <canvas id="linea">{{ chart }}</canvas>
            <br>
          </div>
    </div>
  </div>
</div>
