
<!--Reservar-->
<h3 class="mt-4" style="text-align: left;"> &nbsp; &nbsp; <strong>Escoge un Entrenador</strong> </h3>  


<!--Serie de tarjetas con la información de los entrenadores diponibles-->

<div class="vstack gap-4 col-md-8 mx-auto mt-5">
<div *ngFor="let each of listaAsesores;">
    <div class="card w-100" >
        <div class="card">
            <div class="card-body">
                <div class="row">
        
                    <div class="col-md-9" style="margin-left: 2%; margin-top: 1%;">
                        <strong style="font-size: 1.5rem ;"> {{each.nombre}}</strong> <br>
                        <small class="text-muted" style="font-size: 1.4rem ;">   Especialidad: {{each.especialidad}} </small>
                    </div>
                    <div class="col-md-2" style="margin-top: 2%;">
                        <button (click)="mandarCalendario(each)" routerLink="/horarioAsesor" type="button" class="btn btn-primary" id="btn">
                            <strong style="font-size: 1.25rem ;"> Reservar </strong> 
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Este mensaje aparece cuando no hay ningun entrenador disponible-->

<div  class="text-center" *ngIf="listaAsesores.length===0">
    <h1>No hay entrenadores disponibles</h1>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
