<!--Banner de la aréa-->
<div class="img-fluid" class = "opacity-30"  >
    <div class=" text-white">
        <img src="https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGNvbG9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80" height="130" class="card-img" alt="...">
        <div class="card-img-overlay">
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>

        <h1 class="card-title" class = "text-center"> Citas con entrenadores </h1>
        </div>
    </div>
</div>
<!--Reservar-->
<h3 class="mt-4" style="text-align: center;"> &nbsp; &nbsp; <strong>Escoge un Entrenador</strong> </h3>  
<!--meterle imagen-->
<div class="vstack gap-4 col-md-8 mx-auto mt-5">

<div class="card w-100" >
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2"> 
                    <img src="https://live.staticflickr.com/65535/50630706993_00b8c57751_w.jpg"  class="rounded-circle" height="125px" alt=""loading="lazy" />
                </div>
                <div class="col-md-7 mt-5" style="margin-left: 2%;">
                    <strong style="font-size: 1.5rem ;"> &nbsp; Arnlod Schazwner</strong> 
                    <small class="text-muted"> Entrenador</small>
                </div>
                <div class="col-md-2 mt-5">
                    <button type="button" class="btn btn-primary">
                        <strong style="font-size: 1.25rem ;"> Reservar </strong> 
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card w-100" >
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2"> 
                    <img src="https://live.staticflickr.com/65535/50630706993_00b8c57751_w.jpg"  class="rounded-circle" height="125px" alt=""loading="lazy" />
                </div>
                <div class="col-md-7 mt-5" style="margin-left: 2%;">
                    <strong style="font-size: 1.5rem ;"> &nbsp; Arnlod Schazwner</strong> 
                    <small class="text-muted"> Entrenador</small>
                </div>
                <div class="col-md-2 mt-5">
                    <button type="button" class="btn btn-primary">
                        <strong style="font-size: 1.25rem ;"> Reservar </strong> 
                    </button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>