
<!--Reservar-->
<h3 class="mt-4" style="text-align: left;"> &nbsp; &nbsp; <strong>Escoge un Nutriólogo</strong> </h3>  
<!--meterle imagen-->
<div class="vstack gap-4 col-md-8 mx-auto mt-5">


    <div class="card w-100" >
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2"> 
                        <img src="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F88607e0c-a2d4-46ee-87dc-4a6d42de39ff_2351x2348.jpeg"  class="rounded-circle" height="150px" alt=""loading="lazy" />
                    </div>
                    <div class="col-md-7" style="margin-left: 2%; margin-top: 3%;">
                        <strong style="font-size: 1.5rem ;"> Benardo Jimenez</strong> <br>
                        <small class="text-muted" style="font-size: 1.4rem ;">   Especialidad: Planes nutricionales</small>

                    </div>
                    <div class="col-md-2" style="margin-top: 4%;">
                        <button routerLink="/horarioAsesor" type="button" class="btn btn-primary" id="btn">
                            <strong style="font-size: 1.25rem ;"> Reservar </strong> 
                        </button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    
<div class="card w-100" >
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2"> 
                    <img src="https://preview.redd.it/hcpu7df05tg21.jpg?auto=webp&s=bada22c87d97b3851d5a8068dff72f48c1523874"  class="rounded-circle" height="150px" alt=""loading="lazy" />
                </div>
                <div class="col-md-7" style="margin-left: 2%; margin-top: 3%;">
                    <strong style="font-size: 1.5rem ;"> Juan Perez</strong> <br>
                    <small class="text-muted" style="font-size: 1.4rem ;">  Especialidad: Déficit calórico</small>
                </div>
                <div class="col-md-2" style="margin-top: 4%;">
                    <button routerLink="/horarioAsesor" type="button" class="btn btn-primary" id="btn">
                        <strong style="font-size: 1.25rem ;"> Reservar </strong> 
                    </button>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="card w-100" >
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2"> 
                        <img src="https://preview.redd.it/this-person-does-not-exist-v0-9l5x3d2g21591.jpg?width=640&crop=smart&auto=webp&s=4f2cf32ea788e3ecf10354c2bf2709c1f8ffef4e"  class="rounded-circle" height="150px" alt=""loading="lazy" />
                    </div>
                    <div class="col-md-7" style="margin-left: 2%; margin-top: 3%;">
                        <strong style="font-size: 1.5rem ;"> Guillermo del Toro</strong> <br>
                        <small class="text-muted" style="font-size: 1.4rem ;">   Especialidad: Nutriología Clínica</small>
                    </div>
                    <div class="col-md-2" style="margin-top: 4%;">
                        <button routerLink="/horarioAsesor" type="button" class="btn btn-primary" id="btn">
                            <strong style="font-size: 1.25rem ;"> Reservar </strong> 
                        </button>
                    </div>
                </div>
                </div>
            </div>
        </div>