#btn {

    background: #003399;
    border-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
	
}
.btn-group-vertical > button{
    margin-bottom:10px;
    border-radius:10px !important;
}