<!--Banner de la aréa-->
<div class="img-fluid" class = "opacity-30"  >
    <div class=" text-white">
        <img src="https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGNvbG9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80" height="130" class="card-img" alt="...">
        <div class="card-img-overlay">
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>

        <h1 class="card-title" class = "text-center"> Citas con un nutriólogo </h1>
        </div>
    </div>
</div>

<h3> &nbsp; &nbsp; <strong>Escoge un Nutriólogo</strong> </h3>  
<!--Butones x numero de Nutriologo-->
<div class="btn-group-vertical">
    <button type="button" class="btn btn-default"> 
        <img src="https://live.staticflickr.com/65535/50630706993_00b8c57751_w.jpg"  class="rounded-circle" height="75px" alt=""loading="lazy" />
        Lic. Benardo
    </button>
    
    <button type="button" class="btn btn-default"> 
        <img src="https://live.staticflickr.com/65535/50630706993_00b8c57751_w.jpg"  class="rounded-circle" height="75px" alt=""loading="lazy" />
        Lic. Benardo
    </button>

    <button type="button" class="btn btn-default"> 
        <img src="https://live.staticflickr.com/65535/50630706993_00b8c57751_w.jpg"  class="rounded-circle" height="75px" alt=""loading="lazy" />
        Lic. Benardo
    </button>

    <button type="button" class="btn btn-default"> 
        <img src="https://live.staticflickr.com/65535/50630706993_00b8c57751_w.jpg"  class="rounded-circle" height="75px" alt=""loading="lazy" />
        Lic. Benardo
    </button>
</div>