<div class="img-fluid" class="opacity-30">
    <div class="text-white">
        <img src="https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGNvbG9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
            height="130" class="card-img" alt="..." />
        <div class="card-img-overlay">
            <h5 class="card-title">&nbsp;</h5>
            <h5 class="card-title">&nbsp;</h5>
            <h5 class="card-title">&nbsp;</h5>
            <h5 class="card-title">&nbsp;</h5>

            <h1 class="card-title" class="text-center">Editar Aforo</h1>
        </div>
    </div>
</div>

<form class="row mb-1" style="margin-left: 2.5%" [formGroup]="formGroup">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <div class="card col-md-12 mt-4" style="margin-left: 1.5%">
                    <h5 class="card-header text-center" id="title">Lapso de tiempo</h5>

                    <div class="row">
                        <div class="col-md-6 mt-4 mb-4" style="margin-left: 5%">
                            <h5 style="font-size: 1.5rem">Fecha de inicio</h5>
                            <input formControlName="fechaInicio" style="font-size: 1.5rem" type="date" id="start"
                                name="trip-start" />
                        </div>

                        <div class="col-md-5 mt-4 mb-4">
                            <h5 style="font-size: 1.5rem">Fecha de final</h5>
                            <input formControlName="fechaFinal" style="font-size: 1.5rem" type="date" id="start"
                                name="trip-start" />
                        </div>
                    </div>
                </div>

                <div class="form-check input-group">
                    &nbsp; &nbsp; &nbsp;
                    <input formControlName="esIndefinido" class="form-check-input" type="checkbox" id="check1"
                        name="option1" value="something" style="border-color: rgba(128, 128, 128, 0.413)" />
                    <label class="form-check-label"> &nbsp; Indefinido</label>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="form-outline">
                <div class="card col-md-12 mt-4" style="margin-left: 1.5%">
                    <h5 class="card-header text-center" id="title">Nuevo aforo</h5>
                    <div class="row">
                        <div class="row col-md-5"></div>

                        <div class="row col-md-4 mt-4 mb-3">
                            <input formControlName="nuevo_limite" type="number" id="nuevoAforo" min="1" value="1"
                                style="font-size: 1.8rem" class="text-center mb-4 mt-4" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="form-outline">
                <div class="card col-md-12 mt-4" style="margin-left: 1.5%">
                    <h5 class="card-header text-center" id="title">Aforo actual</h5>

                    <h4 class="text-center mt-5 mb-4" style="font-size: 1.7rem">230</h4>

                    <br />
                </div>
            </div>
        </div>
    </div>
</form>

<div class="card col-md-11 mt-2" style="margin-left: 4%">
    <h4 class="card-header text-center" id="title">
        Descripción del cambio de aforo
    </h4>

    <input formControlName="descripcion" type="text" placeholder="El aforo del area deportiva ha sido modificado por..."
        style="font-size: 1.5rem; width: 100%; height: 100%" class="mt-4 mb-5" />
</div>

<div class="row">
    <div class="col-md-3 mt-5" id="align"></div>
    <div class="col-md-3 mt-5" id="align">
        <div class="input-group">
            <button class="btn btn-danger btn-lg" style="font-size: 1.7rem" routerLink="/inicioAdmin">
                <strong> Cancelar </strong>
            </button>
        </div>
    </div>

    <div class="col-md-1 mt-5" id="align"></div>

    <div class="col-md-3 mt-5" id="align">
        <div class="input-group">
            <button class="btn btn-success btn-lg" style="font-size: 1.7rem" (click)="open(mymodal)">
                <strong>Guardar</strong>
            </button>
            <ng-template #mymodal let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Confirmación</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Aforo actualizado correctamente!</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">
                        OK
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
</div>