<!--Encabezado-->
 <div class="row">
    <div class=" col-md-6 mt-4">
      <h3> &nbsp; &nbsp; <strong> Monitor de reservas </strong> </h3>
    </div>
  </div>
<br>

<!--Selección del area deportiva-->
<div class="row">
   
    <div class="col-md-3 mt-1" style="margin-left: 2%;">
  
        <form [formGroup]="form"  >  
    
            <div class="form-group">  

              <label style="margin-bottom: 2%; font-size:1.3rem"> <strong>Selecciona un área deportiva:</strong> </label>  
                <select formControlName="website" class="form-control" id="btn"  (change)="changeArea($event)" #area >   
                    <option *ngFor="let area of areas">{{area.nombre}}</option>  
                </select>  
             
            </div>  
        </form>  
    </div>



  <!--Selección del día -->
  <div *ngIf= "area.value != 'Lockers' "  class="col-md-4 mt-1" style="margin-left: 1%;">
    <!--Input para seleccionar el dia en que se desea hacer la consulta-->
    <div class="row">
      <div class=" col-md-11  mb-2" style="margin-left:3%;">
        <label style="margin-bottom: 2%; font-size:1.3rem"> <strong>Selecciona un día:</strong> </label>  
        <input style="font-size: 1.3rem;"  autocomplete="off" type="date" id="btn" #fechaInput name="trip-start" value="{{this.changedDate}}" (change)="changeDia($event)" >
      </div>
    </div>
  </div>
  </div>


  <!-- Tabla con la información de las reservas de los lockers -->

<div  *ngIf= "area.value == 'Lockers' " class="card mt-5" style="width:75%; margin-left: 13%;">

  <table class="table table-striped">
      <thead >
        <tr class="text-center">
          <th scope="col">Id</th>
          <th scope="col">Matricula</th>
          <th scope="col">Nombre</th>
          <th scope="col">#Locker</th>
          <th scope="col">Estado</th>
        
          <th scope="col">Comprobante</th>
          <th scope="col">Confirmar</th>
          <th scope="col">Cancelar</th>
        </tr>
      </thead>
      <tbody class="text-center" *ngFor="let r of reservasCasillero">
        <tr>
          <th scope="row"> {{r.id}}</th>
          <td>{{r.matricula}}</td>
          <td>{{r.nombre}}</td>
          <td>{{r.id_casillero}}</td>
          <td *ngIf="r.estado == false">Por confirmar</td>
          <td *ngIf="r.estado == true"> Confirmada </td>
          <td><button style = "margin-top: 1%;" id="btn2" class="btn btn-primary" (click)="open(modalcomprobante)">Ver Comprobante</button></td>
          <td *ngIf="r.estado == false"><button style = "margin-top: 1%;" id="btn2" class="btn btn-primary" (click)="open(modalConfirmar)">Confirmar Reserva</button></td>
          <td *ngIf="r.estado == false"><button style = "margin-top: 1%;" id="btn2" class="btn btn-danger" (click)="open(modalcancelar)">Cancelar Reserva</button></td>
          <td *ngIf="r.estado == true"> NA </td>
          <td *ngIf="r.estado == true"> NA </td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- Tabla con la información del area deportiva seleccionada-->

  <div  *ngIf= "area.value != 'Lockers' " class="card mt-5" style="width:75%; margin-left: 13%;">
    <table class="table table-striped">
        <thead>
          <tr class="text-center">
            <th scope="col">Id</th>
            <th scope="col">Matricula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Hora</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Area Deportiva</th>
            <th scope="col">Asesor</th>
            <th scope="col">Cancelar</th>
          </tr>
        </thead>
        <tbody class="text-center" *ngFor="let r of reservasArea">
          <tr class="text-center">
            <th scope="row">{{r.id}}</th>
            <td>{{r.matriculaAlumno}}</td>
            <td>{{r.nombreAlumno}}</td>
            <td>{{this.formatHora(r.hora)}}</td>
            <td>{{this.formatDia(r.fecha)}}</td>
            <td>{{r.estado}}</td>
            <td>{{r.AreaNombre}}</td>
            <td *ngIf="r.asesorNombre == null"> No asignado</td>
            <td *ngIf="r.asesorNombre != null"> {{r.asesorNombre}}</td>
            <td *ngIf="r.estado == 'Cancelada'">NA</td>
            <td *ngIf="r.estado != 'Cancelada'"><button style = "margin-top: 1%;" id="btn2" class="btn btn-danger" (click)="open(modalcancelar)">Cancelar Reserva</button></td>
          </tr>
         
        </tbody>
      </table>
    </div>



   <!--Botones-->
  <div class="row" style="margin-left: 35%; margin-top: 2.5%;">

    <div class="col-md-2">
        <button *ngIf="this.AreaSeleccionada == 'Lockers'" class="btn btn-primary btn-lg" id="btn" style="font-size: 1.3rem;" (click)="exportarCSVCasilleros()"> Exportar 
            <img src="../assets/img/descargas.png" height="25" width="25" class="card-img" alt="...">
        </button>

        <button *ngIf="this.AreaSeleccionada != 'Lockers'" class="btn btn-primary btn-lg" id="btn" style="font-size: 1.3rem;" (click)="exportarCSVAreas()"> Exportar 
          <img src="../assets/img/descargas.png" height="25" width="25" class="card-img" alt="...">
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary btn-lg" id="btn" style="font-size: 1.3rem;  " (click)="open(mymodal) "> + Añadir Reserva </button>    </div>

  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  
  <ng-template #mymodal let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Añadir reserva </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span  aria-hidden="true">×</span>
      </button>
  </div>
  <div class="modal-body">
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Matricula</span>
        <input type="text" class="form-control" placeholder="A0xxxxxxx" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <br>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">Área deportiva</span>
      <input type="text" class="form-control" placeholder="Ingrese el área deportiva" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <br>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">Fecha</span>
      <input type="date" class="form-control" placeholder="Ingrese la fecha" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <br>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">Hora</span>
      <input type="time" class="form-control" placeholder="Ingrese la hora" aria-label="Username" aria-describedby="addon-wrapping">
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger"  id ="btn2"aria-label="Close" (click)="modal.dismiss('Cross click')"> Cancelar</button>
    <button type="button" class="btn btn-primary" id = "btn" (click)="open(modalConfirmar)" >Crear</button>      
  </div>
  </ng-template>

  <!--Modal del comprobante de pago-->
  <ng-template #modalcomprobante let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ver Comprobante</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span  aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <iframe src="../assets/img/arena.jpeg" style="width:100%; height:700px;" ></iframe> -->
      <iframe src="../assets/files/comprobante-wellness.pdf" style="width:100%; height:700px;" frameborder="0"></iframe>
    </div>
  </ng-template>

  <!--Modal de cancelación del alumno-->
  <ng-template #modalcancelar let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Cancelar reservación </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span  aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <p> Esta a punto de cancelar la reserva, ¿Desea continuar? </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger"  id ="btn2"aria-label="Close" (click)="modal.dismiss('Cross click')">Cancelar</button>
      <button type="button" class="btn btn-danger"  id ="btn" aria-label="Close" (click)="modal.dismiss('Cross click')">Confirmar</button>
    </div>
  </ng-template>

    <!--Modal de confirmar reserva de casillero -->
    <ng-template #modalConfirmar let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmar reservación </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span  aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Esta a punto de confirmar la reserva del casillero, ¿Desea continuar? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"  id ="btn2"aria-label="Close" (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-danger"  id ="btn" aria-label="Close" (click)="modal.dismiss('Cross click')">Confirmar</button>
      </div>
    </ng-template>
  



    <!--Modal confirmación de reserva-->
    <ng-template #modalConfirmar let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmación </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span  aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Reserva añadida correctamente! </p>


      </div>
    
    </ng-template>

