<div class="container">
  <div class="img-fluid" style="opacity: 0.3;">
    <div class="text-white">
      <img src="https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGNvbG9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
        height="130" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h1 class="card-title text-center">Estadísticas del gimnasio</h1>
      </div>
    </div>
  </div>

  <!-- Gráfica de tendencias -->

  <div class="card mt-4">
    <h4 class="card-header text-center">Monitor de ingresos diarios</h4>

    <div class="col-md-3 mt-3 mx-auto">
      <label for="weekPicker">Elige la semana:</label>
      <input type="week" id="weekPicker" [formControl]="dateControl" class="form-control">
    </div>

    <div class="row">
      <div class="col-md-12 mt-5">
        <div class="chart-container">
          <canvas id="Dia">{{ chart }}</canvas>
          <br>
        </div>
      </div>
    </div>
  </div>

  <!-- Gráfica de líneas -->

  <div class="card mt-4">
    <h4 class="card-header text-center">Tendencias de ingreso al gimnasio por hora</h4>

    <div class="col-md-3 mt-3 mx-auto">
      <label for="dayPicker">Elige el día:</label>
      <input type="date" id="dayPicker" [formControl]="dayControl" class="form-control">
    </div>

    <div class="row">
      <div class="col-md-12 mt-5">
        <div class="chart-container">
          <canvas id="linea">{{ chart }}</canvas>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
