
 
 <!-- Titulo de la pantalla -->
 <div class="row">
    <div class=" col-md-6 mt-4">
      <h3> &nbsp; &nbsp; <strong> Monitor de ingresos </strong> </h3>
    </div>
  </div>
<br>

<!--Input para seleccionar el dia en que se desea hacer la consulta-->
<div class="row">
   
  <div class=" col-md-6 mt-2 mb-2" style="margin-left:3%;">
    <h5 style="font-size: 1.2rem "> Escoga una fecha de consulta</h5>
    <input style="font-size: 1.3rem;" tabindex="1" required autocomplete="off" type="date" id="btn" #fechaInput name="trip-start" value="{{this.changedDate}}" (change)="obtenerRegistros(fechaInput.value)" >
  </div>

</div>
  

<!--Tabla para mostrar la información de los ingresos en el gimnasio-->

<div class="card mt-5 table-wrapper" style="width:75%; margin-left: 13%;">
<table class="table table-striped">
    <thead class="text-center">
      <tr>
        <th scope="col">Matricula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Hora de llegada</th>
        <th scope="col">Hora de salida</th>
        <th scope="col">Fecha</th>
        <th scope="col">Marcar salida</th>
      </tr>
    </thead>
    <tbody class="text-center" *ngFor="let r of ingresos">
      <tr >
        <td>{{r.matricula}}</td>
        <td>{{r.nombre}}</td>
        <td>{{this.formatHora(r.hora_de_llegada)}}</td>
        <td *ngIf="r.hora_de_salida != null ">{{this.formatHora(r.hora_de_salida) }}</td>
        <td *ngIf="r.hora_de_salida == null ">NA</td>
        <td>{{this.formatDia(r.fecha)}}</td>
        <td *ngIf="r.hora_de_salida == null "><button style = "margin-top: 1%;" id="btn2" class="btn btn-danger"  (click)="open(modalSalida)" (click)="marcarSalida(r.hora_de_llegada, r.matricula)">Marcar salida</button></td>
        <td *ngIf="r.hora_de_salida != null ">NA</td>
      </tr>
    </tbody>
  </table>
  </div>

  <!--Botón para exportar la información en un archivo CSV-->

  <div class="row" style="margin-left: 35%; margin-top: 2.5%;">

    <div class="col-md-2">
        <button class="btn btn-primary btn-lg" id="btn" style="font-size: 1.3rem;" (click)="exportarCSV()"> Exportar 
            <img src="../assets/img/descargas.png" height="25" width="25" class="card-img" alt="...">
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary btn-lg" id="btn" style="font-size: 1.3rem;  " (click)="open(mymodal) "> + Añadir registro </button>    </div>

  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  

<!--Modal de añadir registro-->

<ng-template #mymodal let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Añadir registro </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span  aria-hidden="true">×</span>
      </button>
  </div>
  <div class="modal-body">
  <!--Formulario de creación de un nuevo ingreso-->
    <form class="row mb-1"[formGroup]="NuevoIngresoForm"   name="NuevoIngresoForm" id="NuevoIngresoForm"
    acceptcharset="utf-8" role="form" >
      <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">Matricula</span>
          <input type="text" class="form-control" formControlName="matricula" placeholder="A0xxxxxxx" aria-label="Username" aria-describedby="addon-wrapping" #matricula>
      </div>

       <!--Validar si el campo matricula está vacia -->
       <span *ngIf="this.NuevoIngresoForm.get('matricula')?.errors?.['required']"  style= "color: rgba(203, 23, 10, 0.913); margin-left: 1.5%; margin-top: 1.8%;">
        La matricula no puede estar vacía
      </span>

      <!--Validar si la matricula ingresada sea de 9 caracteres -->
      <span *ngIf="this.NuevoIngresoForm.get('matricula')?.errors?.['pattern']"  style= "color: rgba(203, 23, 10, 0.913); margin-left: 1.5%; margin-top: 1.8%;">
        La matricula debe de empezar con A0 ó a0
      </span>

      <!--Validar si la matricula ingresada sea de 9 caracteres -->
      <span *ngIf="this.NuevoIngresoForm.get('matricula')?.errors?.['maxlength']"  style= "color: rgba(203, 23, 10, 0.913); margin-left: 1.5%; margin-top: 1.8%;">
        La matricula solamente debe de tener 9 caracteres
      </span>


      <!--Botones -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"  id ="btn2"aria-label="Close" (click)="modal.dismiss('Cross click')"> Cancelar</button>
        <button type="button" class="btn btn-primary" [disabled]="NuevoIngresoForm.invalid"  id = "btn"(click)="open(modalSalida)" (click)="marcarLlegada(matricula.value)">Agregar</button>
      </div>


    </form>
  </div>
  

  

  </ng-template>




    <!--Modal marcar salida -->
    <ng-template #modalSalida let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> Aviso </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span  aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p> {{modalBody}} </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"  id ="btn" aria-label="Close" (click)="modal.dismiss('okay')" (click)="this.refresh()" > OK </button>
      </div>
    </ng-template>
  
