<div class="img-fluid" class = "opacity-30"  >
    <div class=" text-white">
      <img src="https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGNvbG9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80" height="180" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
  
        <h1 class="card-title" class = "text-center"> ID digital </h1>
        
      </div>
    </div>
  </div>
  
  
  <br>
  
  
  <div class="rounded-circle  shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 100px; height: 100px;">
                <img src="https://live.staticflickr.com/65535/50630706993_00b8c57751_w.jpg"  class="rounded-circle" height="250px px" alt=""
                     loading="lazy" />
  </div>
  
  <h5 class="card-title">&nbsp;</h5>
  <h5 class="card-title">&nbsp;</h5>
  <h5 class="card-title">&nbsp;</h5>
  
  <h1 class = "text-center">Juan Perez</h1>
  
  <!--
  <h2 class = "text-center">A01256789</h2>
  -->
  
  
  <h5 class="card-title">&nbsp;</h5>

 


  
  
  <div class="rounded-circle  shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 300px; height: 100px;">
    <svg id="code128"></svg>
  
  </div>

  <!--  Generar codigo de barras
<h1>How to Generate QR Code in Angular 13? - Tutsmake.com</h1>
<qrcode [qrdata]="'Q'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
-->
