<div class="img-fluid" class = "opacity-30"  >
  <div class=" text-white">
    <img src="https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGNvbG9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80" height="130" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">&nbsp;</h5>
      <h5 class="card-title">&nbsp;</h5>
      <h5 class="card-title">&nbsp;</h5>
      <h5 class="card-title">&nbsp;</h5>

      <h1 class="card-title" class = "text-center"> ID Digital </h1>
    </div>
  </div>
</div>
<br>
<div>
  <div class="rounded-circle  shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto">
    <img src="https://live.staticflickr.com/65535/50630706993_00b8c57751_w.jpg" class="rounded-circle" height="250px px"
      alt="" loading="lazy" />
  </div>


  <h5 class="card-title">&nbsp;</h5>

  <h1 class="text-center">{{ Currentproperties?.nombre }}</h1>

  <!--
  <h2 class = "text-center">A01256789</h2>
  -->

  <h5 class="card-title">&nbsp;</h5>

  <div class="rounded-circle shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto">
    <svg #barcode></svg>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>