<div class="img-fluid" class="opacity-30">
  <!-- ... -->
</div>

<br>

<div class="rounded-circle  shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
  style="width: 100px; height: 100px;">
  <img src="https://live.staticflickr.com/65535/50630706993_00b8c57751_w.jpg" class="rounded-circle" height="250px px"
    alt="" loading="lazy" />
</div>

<h5 class="card-title">&nbsp;</h5>
<h5 class="card-title">&nbsp;</h5>
<h5 class="card-title">&nbsp;</h5>

<h1 class="text-center">{{ Currentproperties?.nombre }}</h1>

<!--
  <h2 class = "text-center">A01256789</h2>
  -->

<h5 class="card-title">&nbsp;</h5>

<div class="rounded-circle  shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
  style="width: 300px; height: 100px;">
  <svg id="code128"></svg>
</div>
