


<div class="img-fluid" class = "opacity-30"  >
    <div class=" text-white">
      <img src="https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGNvbG9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80" height="130" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
        <h5 class="card-title">&nbsp;</h5>
    
        <h1 class="card-title" class = "text-center"> Mis Reservaciones </h1>
      </div>
    </div>
  </div>
  <br>

  <div class="vstack gap-4 col-md-8 mx-auto">

    <div class="card w-100" >
      <div class="card">
        <h5 class="card-header">Gimnasio</h5>
        <div class="card-body">
  
          <div class="row-cols-1 row-cols-md-3 g-6">
  
            <div class="card w-100">
              <div class="card">
                
                <div class="card-body">
                  
                  <h4>
                    Fecha:
                    <small class="text-muted">Lunes 20 de Marzo</small>
                  </h4>
                  <h4>
                    Hora:
                    <small class="text-muted"> 1:00 PM</small>
                  </h4>
                  <h4>
                    Instructor:
                    <small class="text-muted"> Arnold Schwarzenegger </small>
                  </h4>
                  <h4>
                    Estado:
                    <small class="text-success"> Activa </small>
                  </h4>
  
                  <div class="btn-group me-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-primary" href="#">Marcar llegada</button>
            
                  </div>
  
                  <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-warning" href="#">Reagendar</button>
                  </div>
  
  
                  <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-danger" href="#">Cancelar reserva</button>
                  </div>
                </div>
              </div>
            </div>

            <br>

            <div class="card w-100">
              <div class="card">
                
                <div class="card-body">
                  
                  <h4>
                    Fecha:
                    <small class="text-muted">Martes 21 de Marzo</small>
                  </h4>
                  <h4>
                    Hora:
                    <small class="text-muted"> 3:00 PM</small>
                  </h4>
                  <h4>
                    Instructor:
                    <small class="text-muted"> Sylvester Stallone </small>
                  </h4>
                  <h4>
                    Estado:
                    <small class="text-danger"> Cancelada </small>
                  </h4>
  
                  <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-warning" href="#">Reagendar</button>
                  </div>  
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>


    <div class="card w-100" >
      <div class="card">
        <h5 class="card-header">Arena TEC</h5>
        <div class="card-body">
  
          <div class="row-cols-1 row-cols-md-3 g-6">
  
            <div class="card w-100">
              <div class="card">
                
                <div class="card-body">
                  
                  <h4>
                    Fecha:
                    <small class="text-muted">Lunes 20 de Marzo</small>
                  </h4>
                  <h4>
                    Hora:
                    <small class="text-muted"> 1:00 PM</small>
                  </h4>
                  <h4>
                    Instructor:
                    <small class="text-muted"> Arnold Schwarzenegger </small>
                  </h4>
                  <h4>
                    Estado:
                    <small class="text-success"> Activa </small>
                  </h4>
                  
  
                  <div class="btn-group me-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-primary" href="#">Marcar llegada</button>
            
                  </div>
  
                  <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-warning" href="#">Reagendar</button>
                  </div>
  
  
                  <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-danger" href="#">Cancelar reserva</button>
                  </div>
                </div>
              </div>
            </div>

            <br>

            <div class="card w-100">
              <div class="card">
                
                <div class="card-body">
                  
                  <h4>
                    Fecha:
                    <small class="text-muted">Martes 21 de Marzo</small>
                  </h4>
                  <h4>
                    Hora:
                    <small class="text-muted"> 3:00 PM</small>
                  </h4>
                  <h4>
                    Instructor:
                    <small class="text-muted"> Sylvester Stallone </small>
                  </h4>
                  <h4>
                    Estado:
                    <small class="text-danger"> Cancelada </small>
                  </h4>
  
                  <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-warning" href="#">Reagendar</button>
                  </div>  
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  </div>



