.imagen-pequena {
    width: 450px;
}

#title {
	
	background: #003399;
    color: white;
	font-size: 1.5rem;
    
    align-items: center;
    justify-content: center;
    border-color: transparent;
	
}

#btn {

    background: #003399;
    border-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
	
}

#btn2 {

    background: #ffffff;
    border-color: #003399;
    color: #003399;
    display: flex;
    align-items: center;
    justify-content: center;
	
}