<!-- Encabezado del formulario de la creación de la nueva área-->

<div class="img-fluid" class="opacity-30">
    <div class=" text-white">
        <img src="https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGNvbG9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
            height="130" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">&nbsp;</h5>
            <h5 class="card-title">&nbsp;</h5>
            <h5 class="card-title">&nbsp;</h5>
            <h5 class="card-title">&nbsp;</h5>

            <h1 class="card-title" class="text-center"> Editar área deportiva</h1>
        </div>
    </div>
</div>


<h3 style="margin-left: 1%;" class="mt-4"> &nbsp; &nbsp; <strong> Datos de la área deportiva </strong> </h3>

<!--Formulario para la creación de la nueva área-->

<form [formGroup]="NuevaAreaForm" name="NuevaAreaForm" id="NuevaAreaForm" acceptcharset="utf-8" role="form">

    <div class="row " style="margin-left: 1.5%; margin-top: 2%;">

        <div class="col-md-6">
            <div class="input-group form-group-no-border input-lg mb-3">
                <span class="input-group-text" id="title">Nombre del área deportiva </span>
                <input type="text" formControlName="nombre" tabindex="1" required autocomplete="off"
                    class="form-control" placeholder= {{areaActual.NombreArea}} aria-label="Username"
                    aria-describedby="basic-addon1" #nombre>

            </div>

            <!--Validar si el campo nombre está vacio -->
            <span *ngIf="this.NuevaAreaForm.get('nombre')?.errors?.['required']"
                style="color: rgba(203, 23, 10, 0.913);">
                El nombre no puede quedar vacío
            </span>
        </div>


        <div class="col-md-5">
            <div class="input-group mb-3">
                <span class="input-group-text" id="title">Descripción</span>
                <input type="text" formControlName="descrip" tabindex="2" required autocomplete="off"
                    class="form-control" placeholder= {{areaActual.Descripcion}} aria-label="Username"
                    aria-describedby="basic-addon1" min="1" #descrip>
            </div>

            <!--Validar si el campo número de aforo está vacio -->
            <span *ngIf="this.NuevaAreaForm.get('Descripcion')?.errors?.['required']"
                style="color: rgba(203, 23, 10, 0.913);">
                La Descripcion no puede quedar vacío
            </span>


        </div>
    </div>

    <br>

    <div class="row" style="margin-left: 1.5%;">
        <div class="col-md-6 mt-2">

            <div class="input-group mb-3">
                <span class="input-group-text" id="title">Hora de apertura</span>
                <input formControlName="horaInicio" style="font-size: 1.5rem" type="time" id="start" name="trip-start"
                    
                    #horaInicio />
            </div>

            <!--Validar si el campo ubicación está vacio -->
            <span *ngIf="this.NuevaAreaForm.get('horaInicio')?.errors?.['required']"
                style="color: rgba(203, 23, 10, 0.913);">
                La hora de apertura no puede estar vacia
            </span>

        </div>

        <div class="col-md-5 mt-2">

            <div class="input-group mb-3">
                <span class="input-group-text" id="title">Hora de cierre</span>
                <input formControlName="horaFinal" style="font-size: 1.5rem" type="time" id="start" name="trip-start"
                    #horaFinal />
            </div>

            <!--Validar si el campo ubicación está vacio -->
            <span *ngIf="this.NuevaAreaForm.get('horaFinal')?.errors?.['required']"
                style="color: rgba(203, 23, 10, 0.913);">
                La hora de cierre no puede estar vacia
            </span>

        </div>

    </div>

    <br>

    <div class="row" style="margin-left: 1.5%;">
        <div class="col-md-11 mt-2">

            <div class="input-group mb-3">
                <span class="input-group-text" id="title">Ubicación</span>
                <input type="text" formControlName="ubicacion" tabindex="3" autocomplete="off" class="form-control"
                    placeholder={{areaActual.Ubicacion}} aria-label="Username" aria-describedby="basic-addon1"
                    #ubicacion>
            </div>

            <!--Validar si el campo ubicación está vacio -->
            <span *ngIf="this.NuevaAreaForm.get('ubicación')?.errors?.['required']"
                style="color: rgba(203, 23, 10, 0.913);">
                La ubicación no puede quedar vacía
            </span>

        </div>

    </div>

    <br>




    <div class="row" style="margin-left: 1.5%;">
        <div class="col-md-11 mt-2">

            <!-- <div class="form-check input-group mb-2">
      <input type="checkbox" name="rad2" (change)="true" #checkBox1> &nbsp; ¿El nuevo espacio requiere materiales?
    </div> -->

            <!--Si el check-box ha sido activado-->

            <!-- <div *ngIf="checkBox1.checked" class="input-group mb-3"> -->
            <div class="input-group mb-3">
                <span class="input-group-text" id="title">Material disponible</span>
                <input type="text" formControlName="material" tabindex="4" autocomplete="off" class="form-control"
                    placeholder={{areaActual.MaterialDisponible}}  aria-label="Username" aria-describedby="basic-addon1"
                    #material>
            </div>

        </div>

    </div>

    <br>


    <div class="row" style="margin-left: 1.5%;">
        <div class="col-md-8 mt-2">

            <div class="input-group mb-5">
                <span class="input-group-text" id="title">Imagen</span>

                <div name="subida-imagenes" style="margin-left: 1.5%;" class="mt-2">
                    <input type="file" formControlName="imagen" tabindex="4" autocomplete="off" name="imagen" #imagen />
                </div>
            </div>

            <!--Validar si el campo imagen está vacio -->
            <span *ngIf="this.NuevaAreaForm.get('imagen')?.errors?.['required']"
                style="color: rgba(203, 23, 10, 0.913);">
                La imagen no puede quedar vacía
            </span>

        </div>
    </div>


    <!--Botones-->


    <div class="row" style="margin-left: 35%; margin-top: 2%;">



        <div class="input-group">
            <div class="col-md-1 ">
                <button class="btn btn-primary btn-lg" id="btn2" style="font-size: 1.3rem;" routerLink="/inicioAdmin">
                    Cancelar
                </button>
            </div>

            <div class="col-md-3" style="margin-left:5%;">
                <button class="btn btn-primary btn-lg" type="submit" [disabled]="NuevaAreaForm.invalid" id="btn"
                    style="font-size: 1.3rem;  " (click)="open(mymodal) "
                    (click)="editarArea(areaActual.AreaId,nombre.value,descrip.value,horaInicio.value,horaFinal.value,ubicacion.value,material.value,imagen.value)">
                    Editar área deportiva </button>
                <!-- (click)="crearArea(nombre.value,aforo.value,ubicacion.value,material.value,horaFinal.value,horaInicio.value,imagen.value)" -->
                <!-- (click)="editarArea(id,nombre.value,descripcion.value,horaInicio.value,horaFinal.value,ubicacion.value,material.value,imagen.value)"-->
                <br>
                <div style="color: #aa730d" *ngIf="NuevaAreaForm.invalid">
                    Favor de ingresar todos los datos
                </div>
            </div>


        </div>

    </div>

</form>


<!--Modal de confirmación de creación de área-->


<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmación</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        Área deportiva editada  exitosamente!
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">OK</button>
    </div>
</ng-template>